@import url("https://fonts.googleapis.com/css?family=Castoro:400|Lato:400,700,500,600|Poppins:400|Mulish:700");



.clientcontainer{
        position: absolute;
height: 412px;
left: 0px;
right: 0px;
top: 1650px;

background: #FFFFFF;
}
.clients{
    background-color: transparent;
    height: 291px;
    left: calc(50.00% - 294px);
    position: relative;
    top: calc(50.00% - 146px);
    width: 589px;
    

}
.clientcomments{
    background-color: transparent;
    height: 74.23%;
    left: 0px;
    position: absolute;
    top: 25.77%;
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 1px;

}

.clienttitle{
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: 13.75%;
  left: 28.35%;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: 43.29%;
  font-family: 'Castoro';
  font-size: 30px;
}
.client{
    width: 183px;
    height: 216px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 0px;
    

    background: #FBF9F3;

}
.client1{
    left: 0px;

}

 .client2{
    left: 203px;
}
.client3{
    left: 406px;
}
.comment{
    position: absolute;
width: 143px;
height: auto;

left: 20px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 11.7141px;
line-height: 18px;
top: 20px;
align-self: left;
/* or 150% */


color: #2D2D2D;

}

.client-comment {
    
    width: 126px;
    background-color: transparent;
    height: 45px;
    left: 20px;
    position: absolute;
    top: 151px;
    width: 126px;
  }
  .component{
    background-color: transparent;
    height: 45px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 45px;
  }
  .component1{
    align-items: flex-start;
    background-image: url(https://cdn.animaapp.com/projects/6267e8559ca4aeb9f7ac93aa/releases/6267e86e0561ee1dfacdc2c0/img/mask-group-2@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 45px;
    margin-bottom: 0;
    width: 45px;
  }
  
  .component2 {
    align-items: flex-start;
    background-image: url(https://cdn.animaapp.com/projects/6267e8559ca4aeb9f7ac93aa/releases/6267e86e0561ee1dfacdc2c0/img/image-5@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 45px;
    margin-bottom: 0;
    width: 45px;
  }
  .component3 {
    align-items: flex-start;
    background-image: url(https://cdn.animaapp.com/projects/6267e8559ca4aeb9f7ac93aa/releases/6267e86e0561ee1dfacdc2c0/img/mask-group-3@2x.png);
    background-size: 100% 100%;
    display: flex;
    
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
  
  .ellipse {
      background: url(../images/client/Ellipse.png);
    background-color: transparent;
    height: 100%;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .client-rating {
    background-color: transparent;
    height: 33px;
    left: 55px;
    position: absolute;
    top: 12px;
    width: 71px;
    
  }
  
  .full-name {
    
    background-color: transparent;
    color: var(--heavy-metal);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    line-height: 18px;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
    font-family: 'Poppins';
    font-size: 10px;

   
  }
  .pop{
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    
  }
  
  .stars {
    align-items: flex-start;
    display: flex;
    top: 21px;
    width: 71px;
    position: absolute;
    left: 0px;
  }
  
  .star-1 {
    background-image: url(../images/client/Star.png);
    
    background-color: transparent;
    height: 12px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 12px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .star {
    background-image: url(../images/client/Star.png);
    background-color: transparent;
    height: 12px;
    left: 15px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 12px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .star2{
    background-image: url(../images/client/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 12px;
    left: 29px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 12px;
  }
  .star3{
    background-image: url(../images/client/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 12px;
    left: 44px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 12px;
  }
  
  .star-2 {
    background-image: url(../images/client/Star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 12px;
    left: 59px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 12px
  }

  @media screen and (max-width:767px){
    .clientcontainer{
      height: 1351px;
    top: 2990px;
    }
    .full-name{
      line-height: 24px;
      font-size: 18px;
    }
    .clients{
      height: 1230px;
    left: calc(50.00% - 158px);
    top: calc(50.00% - 616px);
    width: 315px;
    }
    .clienttitle{
      height: 3.25%;
    left: 9.52%;
    width: 80.95%;
    }
    .clientcomments{
      height: 93.82%;
    top: 6.18%;
    flex-direction: column;
    justify-content: center;
    
    }
    .client{
      height: 372px;
  
    width: 315px;
    }
    .comment{
      left: 40px;
    line-height: 30px;
    top: 40px;
    width: 235px;
    }
    .client-comment{
      height: 80px;
    left: 40px;
    top: 252px;
    width: 221px;
    }
    .client{
      height: 80px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 80px;
    display: flex;
      flex-direction: column;
    }
    .client-rating{
      height: 49px;
    left: 100px;
    
    top: 31px;
    width: 121px;
    }
    
    .stars{
      height: 20px;
    left: 0px;
    
    top: 29px;
    width: 121px;
    }
    .star,.star-1,.star-2,.star2,.star3{
      height: 20px;
      width: 20px;
    }
    .star{
      left: 25px;
    }
    .star2{
      left: 50px;
    }
    .star3{
      left: 75px;
    }
    .star-2{
      left: 101px;
    }
    .client1{
      height: 372px;
     flex-direction: column;
    width: 315px;
      
    }
    .client2{
      height: 372px;
   flex-direction: column;
    top: 392px;
    width: 315px;
    }
    .client3{
      height: 372px;
    flex-direction: column;
    top: 784px;
    width: 315px;
    }
    .comment{
      letter-spacing: 0;
  line-height: 30.2px;
  min-height: 121px;
  width: 235px;
  text-align: left;
  position: absolute;
  font-size: 20.1px;
    }
    .component{
      height: 80px;
      width: 80px;
    }
    .component1{
      background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    }
    .component2{
      background-color: transparent;
    height: 100%;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 100%;
    }
  }