.readmore {
    background-color: transparent;
    height: 8.05%;
    left:29.78%;

    position: absolute;
    top: 91.95%;
    width: 40.14%;
  }
  
  
  .label {
    background-color: transparent;
    color: red;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    left: 0px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: 73.07%;
    font-family: 'Lato';
    font-size: 14px;

    
  }
  
  .right-arrow {
    background-color: transparent;
      background: url(../images/Vector.svg);
      background-repeat: no-repeat;
     
    
    height: 75.00%;
    left: 80.42%;
    position: absolute;
    top: 12.50%;
    width: 19.93%;
    background-position: 10%;

  }