:root {
    --black-2: 
  rgba(0, 0, 0, 0);
    --black: 
  rgba(0, 0, 0, 1);
    --tiber: 
  rgba(11, 56, 53, 1);
    --evening-sea: 
  rgba(19, 78, 74, 1);
    --heavy-metal: 
  rgba(45, 45, 45, 1);
    --masala: 
  rgba(59, 59, 59, 1);
    --quick-silver: 
  rgba(164, 164, 164, 1);
    --concrete: 
  rgba(243, 243, 243, 1);
    --alabaster: 
  rgba(249, 250, 251, 1);
    --bianca: 
  rgba(251, 249, 243, 1);
    --sunset-orange: 
  rgba(255, 98, 80, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 11.7px;
    --font-size-m: 14px;
    --font-size-l: 20px;
    --font-size-xl: 20.1px;
    --font-size-xxl: 26px;
    --font-size-xxxl: 30px;
    --font-size-xxxxl: 65px;
  
    --font-family-castoro: "Castoro";
    --font-family-lato: "Lato";
    --font-family-mulish: "Mulish";
    --font-family-poppins: "Poppins";
  }
  
  
  
  